:root {
  --color-primary: rgba(72, 9, 122 , 69%);
  --color-primary-focused: rgba(71, 9, 122, 0.601);
  --color-secondary: rgba(255, 186, 61 , 70%);
  --color-secondary-focused: rgba(255, 187, 61, 0.619);
  --color-tertiary: rgba(217, 217, 217 , 100%);
}

body {
  padding-top: 0;
  background-image: url('../assets/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.main-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Drawer*/
.drawer {
  height: 100vh;
  position: fixed;
  top: 0px; /* Height of the fixed navbar */
  left: -350px; /* Set initially to hide the drawer */
  width: 350px;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease-in-out;
  background-image: url('../assets/drawer_bg.png'); /* Ruta de tu imagen */
  background-size: cover; /* Para cubrir completamente el fondo del div */
  background-position: center; /* Centrar la imagen en el div */
}

.drawer__image__container{
  width: 100%;
  background-color: var(--color-primary);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
  border-radius: 0% 0% 45% 45%;
}

.drawer__image__bottom{
  position: relative;
  width: 100%;
  top: 20%;
  border-radius: 100%;
  height: 10vh;
  background-color: rgba(255, 187, 61, 0.619);
}


.drawer a {
  color: rgb(0, 0, 0);
}

.drawer__image {
  max-width: 300px;
  height: min-content;
  justify-self: center;
  align-self: center;
}

.drawer__item{
  font-family: 'Poppins';
  font-size: 100px;
  width: 100%;
  padding: 80px;
  text-align: center; 
  margin-top: 8vh;
}

.nav-link:hover{
  color: rgb(242, 234, 11);
  transition: all 0.3s ease;
  opacity: 1%;
}

.drawer__item hover{
  color: rgb(41, 40, 40);
}

.drawer__item span{
  font-family: 'Poppins';
  font-size: 2em;
  font-weight: 300;
}

.drawer__item i{
  width: 40px;
  height: 40px;
}

.header{
  background-color: var(--color-primary);
  height: 100px;
  display: flex;
  justify-content: center;
}

.header__logo{
  margin: 0;
  padding: 0;
  align-self: center;
  height: 80%;
}

.header__button{
  position: relative;
  right: 45%;
  top: 30%;
  background-color: var(--color-tertiary);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
}


.header_button_img{
  width: 100%;
}

/*Body*/

.inputContainer {
  align-self: center;
  width: 50%;
}
.inputContainer .postureFormContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  align-self: center;
}

.inputContainer .postureForm__field{
  width: 60%;
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 10px 10px 15px;
  margin-right: 20px;
  outline:none;
  font-family: 'Poppins';
  transition:all 0.3s ease;
  font-size: 1.2em;
}

.inputContainer .postureForm__field:focus{
  outline: none;
  border: none;
  background-color: var(--color-primary-focused);
}

.inputContainer .postureForm__field::placeholder{
  color: #c7c2c2;
}

.inputContainer .postureForm__button{
  background-color: var(--color-secondary);
  border: none;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  width: 45px;
  height: 45px;
  outline:none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inputContainer .postureForm__button:hover{
  background-color: var(--color-secondary-focused);
}
.postureForm__button .postureForm__button__image{
  width: 100%
}

/*Sanscrit Translations*/ 
.SanskritTranslation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  align-self: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 0.01px rgba(106, 106, 106, 0.75);
  padding: 10px 20px 10px 20px;
  width: 70%;
  font-family: 'Poppins';
}

h2{
  font-weight: 500;
  font-size: 2em;
}

.description__text{
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
  background-color: var(--color-tertiary);
  padding: 5px 10% 5px 10%;
  border-radius: 30px;
}

.sanskritTranslation__title{
  padding-top: 10px;
}

.morphemesTable td, th{
  padding: 10px;
  margin: 20px;
  font-size: 1.2em;
  
}

.morphemesTable td:hover, th:hover{
  position: relative;
  top:2px;
}

.morphemesTable{
  border-collapse: separate;
  border-spacing: 15px;
  transition: all 0.3s ease;
}

.morphemesTable th{
  background-color: var(--color-primary);
  border-radius: 20px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  transition: all 0.3s ease; 
}


.morphemesTable td{
  background-color: var(--color-tertiary);
  border-radius: 20px;
  font-weight: 400;
  text-align: center;
}

/*English Spanish*/
.EnlishSpanishContainer{
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 70%;
  font-family: 'Poppins';
}

.TranslationContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  align-self: center;
  background-color: var(--color-secondary);
  border-radius: 20px;
  box-shadow: 3px 3px 8px 0.01px rgba(106, 106, 106, 0.75);
  padding: 30px 20px 30px 20px;
  width: 49%;
  font-family: 'Poppins';
}

.TranslationContainer__result{
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
  background-color: white;
  padding: 10px 5% 10px 5%;
  width: 90%;
  border-radius: 30px;
  margin-top: 15px;
}



